Repository JeffreyUrban/CaptionA.cc: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, prettier, eslint, block-database-files, block-model-files, block-video-files

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd apps/captionacc-web && npx tsc --noEmit --incremental false'
  language: system
  pass_filenames: false

prettier:
  name: Prettier Format
  entry: npx --prefix apps/captionacc-web prettier --write --ignore-unknown
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd apps/captionacc-web && npx eslint'
  language: system
  pass_filenames: true

block-database-files:
  name: Block database files
  entry: Database files must be tracked with DVC, not Git
  language: fail

block-model-files:
  name: Block model checkpoint files
  entry: Model files must be tracked with DVC, not Git
  language: fail

block-video-files:
  name: Block video files
  entry: Video files must not be committed to Git
  language: fail

Enable private networking for Prefect worker connections
  services/api/fly.toml
Due: none

Added Prefect utility scripts and fixed prefect setup and flows. Scheduled stuck video check. Standardize modal app+function naming.
  data-pipelines/extract-crop-frames-and-infer-extents/deploy.py
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/app.py
  data-pipelines/extract-full-frames-and-ocr/deploy.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/app.py
  docs/prefect-orchestration/infrastructure.md
  services/api/Dockerfile
  services/api/README_DEPLOYMENTS.md
  services/api/README_VIDEO_RECOVERY.md
  services/api/app/flows/crop_and_infer.py
  services/api/app/flows/models.py
  services/api/app/flows/video_initial_processing.py
  services/api/app/flows/video_recovery.py
  services/api/app/main.py
  services/api/app/prefect_runner.py
  services/api/app/routers/internal.py
  services/api/app/routers/webhooks.py
  services/api/crontab
  services/api/docs/SCHEDULED_RECOVERY.md
  services/api/fly.toml
  services/api/prefect.yaml
  services/api/scripts/check_worker_status.py
  services/api/scripts/create_work_pool.py
  services/api/scripts/deploy_flows.sh
  services/api/scripts/find_stuck_videos.py
  services/api/scripts/register_flows.py
  services/api/scripts/retry_stuck_videos.py
  services/api/scripts/start.sh
  services/api/scripts/test_flow_run.py
  services/api/scripts/trigger_recovery.sh
  supabase/docs/README.md
  supabase/docs/WEBHOOK_SETUP.md
Due: none

extract_full_frames_and_ocr completes on Modal
  apps/captionacc-web/README.md
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/app.py
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/inference.py
  data-pipelines/extract-full-frames-and-ocr/deploy.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/__init__.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/_version.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/app.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/pipeline.py
  packages/gpu_video_utils/src/gpu_video_utils/__init__.py
  packages/ocr/src/ocr/backends/google_vision.py
  services/api/app/flows/video_initial_processing.py
Due: prettier

extract_full_frames_and_ocr full output and fixes
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/pipeline.py
  packages/gpu_video_utils/src/gpu_video_utils/decoder.py
  packages/ocr/src/ocr/processing.py
  services/api/app/routers/webhooks.py
  services/api/app/services/priority_service.py
Due: none

Added video delete webhook and flow handling
  services/api/app/routers/webhooks.py
Due: none

Routed video insert and update webhook to edge function to filter changes, wake up captionacc-api and retry until API is ready.
  services/api/app/routers/webhooks.py
  supabase/functions/webhook-forwarder/README.md
  supabase/functions/webhook-forwarder/index.ts
Due: none

Successful Prefect flow from video insert in Supabase.
  services/api/app/routers/webhooks.py
  supabase/config.toml
  supabase/functions/webhook-forwarder/README.md
  supabase/functions/webhook-forwarder/index.ts
Due: none

Re-organized some docs
  docs-to-organize-and-revise/annotation/boundary-workflow.md
  docs-to-organize-and-revise/annotation/overview.md
  docs-to-organize-and-revise/annotation/text-correction-workflow.md
  docs-to-organize-and-revise/architecture/state-management.md
  docs-to-organize-and-revise/architecture/wasabi-storage-architecture.md
  docs-to-organize-and-revise/database/README.md
  docs-to-organize-and-revise/database/admin-roadmap.md
  docs-to-organize-and-revise/database/migrations.md
  docs-to-organize-and-revise/database/versioning-strategy.md
  docs-to-organize-and-revise/image-regeneration-strategy.md
  docs-to-organize-and-revise/prefect-webhook-architecture.md
  docs/frontend-to-new-backend.md
  docs/supabase/MULTI_SCHEMA_SETUP.md
  docs/supabase/README.md
  docs/supabase/WEBHOOK_SETUP.md
  docs/supabase/multi-schema-architecture-plan.md
Due: none

Implemented video status in Supabase and videos page status indications.
  apps/captionacc-web/app/components/videos/VideoTable.tsx
  apps/captionacc-web/app/hooks/useMoveOperation.ts
  apps/captionacc-web/app/hooks/useTreeNavigation.ts
  apps/captionacc-web/app/hooks/useVideoDragDrop.ts
  apps/captionacc-web/app/hooks/useVideoOperations.ts
  apps/captionacc-web/app/hooks/useVideoStats.ts
  apps/captionacc-web/app/routes/videos.tsx
  apps/captionacc-web/app/stores/video-stats-store.ts
  apps/captionacc-web/app/types/videos.ts
  apps/captionacc-web/app/utils/video-badges.ts
  apps/captionacc-web/app/utils/video-tree.ts
  apps/captionacc-web/apps/captionacc-web/app/types/supabase.ts
  docs/frontend-to-new-backend.md
  supabase/migrations/20260117_add_video_workflow_columns.sql
Due: typescript-check, prettier, eslint

Fixed SPA state and session management across pages. Fixed upload and processing states.
  apps/captionacc-web/app/components/RealtimeProvider.tsx
  apps/captionacc-web/app/providers.tsx
  apps/captionacc-web/app/routes/videos.tsx
  apps/captionacc-web/app/types/supabase.ts
  apps/captionacc-web/app/types/upload.ts
  docs/workflow-status-transitions.md
  services/api/app/flows/crop_and_infer.py
  services/api/app/flows/video_initial_processing.py
  services/api/app/flows/video_recovery.py
  services/api/app/routers/actions.py
  services/api/app/services/supabase_service.py
  supabase/functions/captionacc-presigned-upload/index.ts
Due: typescript-check, prettier, eslint

Removed errant API fallbacks.
  apps/captionacc-web/app/components/annotation/LayoutApprovalModal.tsx
  apps/captionacc-web/app/config.ts
  apps/captionacc-web/app/hooks/useBoundaryAnnotationData.ts
  apps/captionacc-web/app/hooks/useImageRegeneration.ts
  apps/captionacc-web/app/hooks/useProcessingStatus.ts
  apps/captionacc-web/app/hooks/useReviewLabelsCanvas.ts
  apps/captionacc-web/app/hooks/useReviewLabelsData.ts
  apps/captionacc-web/app/hooks/useTextAnnotationData.ts
  apps/captionacc-web/app/hooks/useUploadFiles.ts
  apps/captionacc-web/app/hooks/useWorkflowProgress.ts
  apps/captionacc-web/app/routes/annotate.boundaries.tsx
  apps/captionacc-web/app/routes/annotate.caption-frame-extents.tsx
  apps/captionacc-web/app/routes/annotate.layout.tsx
  apps/captionacc-web/app/routes/annotate.review-labels.tsx
  apps/captionacc-web/app/routes/annotate.text.tsx
  apps/captionacc-web/app/services/layout-analysis-service.ts
  apps/captionacc-web/app/services/model-training.ts
  apps/captionacc-web/app/services/platform-admin.ts
  apps/captionacc-web/app/services/s3-upload.ts
  apps/captionacc-web/app/services/supabase-client.ts
  apps/captionacc-web/app/services/supabase-server.ts
  apps/captionacc-web/app/services/upload-manager.ts
  apps/captionacc-web/app/utils/api-responses.ts
  apps/captionacc-web/app/utils/layout-api.ts
  apps/captionacc-web/vite.config.ts
Due: typescript-check, prettier, eslint

Connected frontend layout to Supabase/Wasabi/CR-SQLite mechanisms.
  apps/captionacc-web/app/components/ProcessingIndicator.tsx
  apps/captionacc-web/app/hooks/useProcessingStatus.ts
  apps/captionacc-web/app/routes/annotate.layout.tsx
  apps/captionacc-web/app/utils/layout-api.ts
Due: typescript-check, prettier, eslint

Fix wasabi path, .gz compressed databases and download. Set primary key in db.
  apps/captionacc-web/app/config.ts
  apps/captionacc-web/app/services/database-loader.ts
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/functions.py
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/inference.py
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/models.py
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/pipeline.py
  data-pipelines/extract-crop-frames-and-infer-extents/tests/README.md
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  docs/prefect-orchestration/README.md
  docs/prefect-orchestration/flows.md
  docs/prefect-orchestration/modal-integration.md
  docs/prefect-orchestration/operations.md
  services/api/app/flows/crop_and_infer.py
  services/api/app/services/database_manager.py
  services/api/tests/e2e/test_crop_and_infer_flow.py
  services/api/tests/integration/conftest.py
  services/api/tests/utils/helpers.py
  supabase/functions/captionacc-s3-credentials/index.ts
Due: typescript-check, prettier, eslint

Layout Annotations page loads from local layout database.
  apps/captionacc-web/app/hooks/useLayoutData.ts
  apps/captionacc-web/app/routes/annotate.layout.tsx
  apps/captionacc-web/app/services/crsqlite-client.ts
  apps/captionacc-web/app/services/database-queries.ts
  apps/captionacc-web/app/services/layout-sync-service.ts
  apps/captionacc-web/app/stores/database-store.ts
  apps/captionacc-web/package.json
  apps/captionacc-web/vite.config.ts
  package-lock.json
  package.json
Due: typescript-check, prettier, eslint

Fixed full frame upload and download, with thumbnails for layout annotation page.
  apps/captionacc-web/app/components/S3Image.tsx
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
  apps/captionacc-web/app/components/annotation/LayoutThumbnailGrid.tsx
  apps/captionacc-web/app/routes/annotate.layout.tsx
  apps/captionacc-web/app/services/database-queries.ts
  apps/captionacc-web/app/services/s3-client.ts
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/pipeline.py
Due: typescript-check, prettier, eslint

Restored placeholder image to preserve dimensions on frame change.
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
Due: typescript-check, prettier, eslint

Fixed frame view layout.
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
Due: typescript-check, prettier, eslint

Maintain analysis view dimensions.
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
Due: typescript-check, prettier, eslint

Fixes for authentication and S3 access via STS.
  apps/captionacc-web/.env.example
  services/api/app/config.py
  services/api/app/dependencies.py
  services/api/app/main.py
  services/api/app/routers/admin.py
  services/api/app/services/database_manager.py
Due: none

Bayesian model Typescript to Python port plan.
  packages/ocr_box_model/PORT_IMPLEMENTATION_PLAN.md
Due: none

Ported OCR box model from Typescript frontend to Python package.
  packages/ocr_box_model/pyproject.toml
  packages/ocr_box_model/src/ocr_box_model/__init__.py
  packages/ocr_box_model/src/ocr_box_model/charset.py
  packages/ocr_box_model/src/ocr_box_model/config.py
  packages/ocr_box_model/src/ocr_box_model/db.py
  packages/ocr_box_model/src/ocr_box_model/feature_importance.py
  packages/ocr_box_model/src/ocr_box_model/features.py
  packages/ocr_box_model/src/ocr_box_model/knn.py
  packages/ocr_box_model/src/ocr_box_model/math_utils.py
  packages/ocr_box_model/src/ocr_box_model/predict.py
  packages/ocr_box_model/src/ocr_box_model/streaming.py
  packages/ocr_box_model/src/ocr_box_model/train.py
  packages/ocr_box_model/src/ocr_box_model/types.py
  packages/ocr_box_model/tests/test_features.py
Due: none

Removed deprecated front-end layout modeling and prediction, leaving stubs. Connected backend to layout model.
  apps/captionacc-web/INTEGRATION_EXAMPLE_model_version_check.txt
  apps/captionacc-web/STARTUP_INTEGRATION_model_monitor.txt
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
  apps/captionacc-web/app/routes/admin.tsx
  apps/captionacc-web/app/services/box-annotation-service.ts
  apps/captionacc-web/app/services/layout-analysis-service.ts
  apps/captionacc-web/app/services/model-training.ts
  apps/captionacc-web/app/services/model-version-monitor.ts
  apps/captionacc-web/app/services/processing-status-tracker.ts
  apps/captionacc-web/app/services/streaming-prediction-service.ts
  apps/captionacc-web/app/utils/box-prediction.ts
  apps/captionacc-web/app/utils/feature-importance.ts
  apps/captionacc-web/app/utils/layout-api.ts
  apps/captionacc-web/app/utils/layout-canvas-helpers.ts
  apps/captionacc-web/app/utils/model-version-check.ts
  apps/captionacc-web/app/utils/smart-retrain-triggers.ts
  apps/captionacc-web/app/utils/streaming-prediction-config.ts
  apps/captionacc-web/app/utils/streaming-prediction-updates.ts
  services/api/app/routers/actions.py
  services/api/app/services/layout_analysis.py
  uv.lock
Due: typescript-check, prettier, eslint

CR-SQLite implementation plan
  docs/cr-sqlite/IMPLEMENTATION_PLAN.md
Due: none

Completed CR-SQLite implementation.
  apps/captionacc-web/app/services/crsqlite-client.ts
  apps/captionacc-web/app/stores/database-store.ts
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  services/api/app/routers/websocket_sync.py
  services/api/app/services/crsqlite_manager.py
Due: typescript-check, prettier, eslint

Got CR-SQLite working.
  apps/captionacc-web/app/hooks/useLayoutDatabase.ts
  apps/captionacc-web/app/services/crsqlite-client.ts
  apps/captionacc-web/app/stores/database-store.ts
Due: typescript-check, prettier, eslint

Add automatic prediction calculation for layout annotation workflow
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
  apps/captionacc-web/app/hooks/useLayoutData.ts
  apps/captionacc-web/app/routes/annotate.layout.tsx
  apps/captionacc-web/app/services/database-queries.ts
  apps/captionacc-web/app/services/layout-sync-service.ts
  apps/captionacc-web/app/types/review-labels.ts
  apps/captionacc-web/app/utils/layout-api.ts
  apps/captionacc-web/app/utils/layout-canvas-helpers.ts
  apps/captionacc-web/vite.config.ts
  services/api/app/models/actions.py
  services/api/app/routers/actions.py
Due: typescript-check, prettier, eslint

Fix prediction calculation to update local CR-SQLite database
  apps/captionacc-web/app/components/annotation/LayoutMainCanvas.tsx
  apps/captionacc-web/app/hooks/useLayoutData.ts
  apps/captionacc-web/app/services/database-queries.ts
  apps/captionacc-web/app/services/layout-sync-service.ts
  apps/captionacc-web/app/utils/layout-api.ts
  services/api/app/models/actions.py
  services/api/app/routers/actions.py
Due: typescript-check, prettier, eslint

Cleaned out deprecated Typescript server-side code.
  apps/captionacc-web/app/db/migrate.ts
  apps/captionacc-web/app/middleware/basic-auth.ts
  apps/captionacc-web/app/routes/annotate.layout.review.tsx
  apps/captionacc-web/app/services/annotation-crud-service.ts
  apps/captionacc-web/app/services/box-annotation-service.ts
  apps/captionacc-web/app/services/crop-frames-processing.ts
  apps/captionacc-web/app/services/database-admin-service.ts
  apps/captionacc-web/app/services/database-repair-service.ts
  apps/captionacc-web/app/services/image-regen-queue.ts
  apps/captionacc-web/app/services/layout-analysis-service.ts
  apps/captionacc-web/app/services/layout-queue-service.ts
  apps/captionacc-web/app/services/navigation-service.ts
  apps/captionacc-web/app/services/security-audit.server.ts
  apps/captionacc-web/app/services/supabase-server.ts
  apps/captionacc-web/app/services/video-cleanup.ts
  apps/captionacc-web/app/services/video-processing.ts
  apps/captionacc-web/app/services/wasabi-client.ts
  apps/captionacc-web/app/services/wasabi-storage.server.ts
  apps/captionacc-web/app/test/api.folders.test.ts
  apps/captionacc-web/app/test/external-links.test.ts
  apps/captionacc-web/app/utils/api-auth.ts
  apps/captionacc-web/app/utils/database.ts
  apps/captionacc-web/app/utils/image-processing.ts
  apps/captionacc-web/app/utils/ocr-wrapper.ts
  apps/captionacc-web/app/utils/schema-parser.ts
  apps/captionacc-web/app/utils/video-stats.ts
Due: typescript-check, prettier, eslint

Layout model attempted fixes
  apps/captionacc-web/.run/captionacc-web_ Debug Client.run.xml
  apps/captionacc-web/.run/captionacc-web_ Dev Server.run.xml
  apps/captionacc-web/app/entry.server.tsx
  apps/captionacc-web/app/routes/admin.tsx
  apps/captionacc-web/app/services/crsqlite-client.ts
  apps/captionacc-web/app/services/database-queries.ts
  apps/captionacc-web/app/services/invite-codes.ts
  apps/captionacc-web/app/services/platform-admin.ts
  apps/captionacc-web/app/services/prefect.ts
  apps/captionacc-web/app/services/supabase-client.ts
  apps/captionacc-web/app/utils/feature-auth.ts
  apps/captionacc-web/app/utils/video-permissions.ts
  apps/captionacc-web/vite.config.ts
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/modal_inference.py
  packages/ocr_box_model/pyproject.toml
  packages/ocr_box_model/src/ocr_box_model/__init__.py
  packages/ocr_box_model/src/ocr_box_model/db.py
  packages/ocr_box_model/src/ocr_box_model/train.py
  services/api/.run/API_ Debug Server.run.xml
  services/api/.run/API__Dev_Server.run.xml
  services/api/Dockerfile
  services/api/app/flows/video_initial_processing.py
  services/api/app/routers/actions.py
  services/api/app/routers/sync.py
  services/api/app/services/database_manager.py
  services/api/app/services/supabase_client.py
Due: typescript-check, prettier, eslint

Corrected prefect production deployment details.
  docs/prefect-orchestration/ARCHITECTURE.md
  docs/prefect-orchestration/QUICKSTART.md
  docs/prefect-orchestration/flows.md
  docs/prefect-orchestration/infrastructure.md
  docs/prefect-orchestration/operations.md
  services/api/prefect.yaml
Due: none

Renamed caption-acc-prod wasabi bucket to captionacc-prod
  apps/captionacc-web/app/config.ts
  data-pipelines/caption_boundaries/QUICKSTART_MODAL.md
  data-pipelines/caption_boundaries/docs/MODAL_SETUP.md
  data-pipelines/caption_boundaries/scripts/setup_modal.sh
  data-pipelines/caption_frame_extents/QUICKSTART_MODAL.md
  data-pipelines/caption_frame_extents/docs/MODAL_SETUP.md
  data-pipelines/caption_frame_extents/scripts/setup_modal.sh
  data-pipelines/caption_frame_extents/src/caption_frame_extents/inference/wasabi.py
  docs-to-organize-and-revise/HEALTH_CHECKS.md
  docs-to-organize-and-revise/S3_INFRASTRUCTURE_README.md
  docs-to-organize-and-revise/SECURITY_ARCHITECTURE.md
  docs/api-architecture/api-endpoints.md
  docs/data-architecture/README.md
  docs/data-architecture/sync-protocol.md
  docs/data-architecture/wasabi/BUCKET_CONFIGURATION.md
  docs/data-architecture/wasabi/CREDENTIAL_ROTATION.md
  docs/data-architecture/wasabi/README.md
  docs/data-architecture/wasabi/wasabi-iam-policies/CaptionAcc-ClientReadRole-PermissionsPolicy.json
  docs/data-architecture/wasabi/wasabi-iam-policies/CaptionAcc-ReadOnlyPolicy.json
  docs/data-architecture/wasabi/wasabi-iam-policies/CaptionAcc-RestrictedPolicy.json
  docs/data-architecture/wasabi/wasabi-iam-policies/CaptionAcc-STSSessionPolicy.json
  docs/data-architecture/wasabi/wasabi-iam-policies/README.md
  docs/prefect-orchestration/QUICKSTART.md
  docs/prefect-orchestration/infrastructure.md
  docs/prefect-orchestration/modal-integration.md
  docs/prefect-orchestration/operations.md
  docs/wasabi/BUCKET_CONFIGURATION.md
  docs/wasabi/CREDENTIAL_ROTATION.md
  docs/wasabi/README.md
  docs/wasabi/wasabi-iam-policies/CaptionAcc-ReadOnlyPolicy.json
  docs/wasabi/wasabi-iam-policies/CaptionAcc-RestrictedPolicy.json
  docs/wasabi/wasabi-iam-policies/README.md
  scripts/wasabi/wasabi-setup-bucket.sh
  scripts/wasabi/wasabi-test-access.sh
  services/api/DEPLOY.md
  services/api/app/flows/caption_ocr.py
  services/api/extensions/SOURCES.md
  services/api/tests/e2e/SETUP_COMPLETE.md
  supabase/functions/README.md
  supabase/functions/captionacc-s3-credentials/index.ts
Due: typescript-check, prettier, eslint

Handling dev prod namespaces for services
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/app.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/app.py
  docs/environments/LOCAL_DEVELOPMENT.md
  docs/environments/SEPARATE_DEV_PROD_ENVS_NAMESPACES.md
  services/api/.env.development.template
  services/api/app/config.py
  services/api/app/flows/caption_ocr.py
  services/api/app/flows/crop_and_infer.py
  services/api/app/flows/video_initial_processing.py
  services/api/app/prefect_runner.py
  services/api/prefect-dev.yaml
  services/api/scripts/setup-local-dev.sh
Due: none

Fixed prefect deployments.
  .github/workflows/deploy-captionacc-api.yml
  services/api/Dockerfile
  services/api/README_DEPLOYMENTS.md
  services/api/app/config.py
  services/api/app/flows/process_new_videos.py
  services/api/app/prefect_runner.py
  services/api/app/routers/actions.py
  services/api/app/routers/internal.py
  services/api/prefect.yaml
  services/api/scripts/check_worker_status.py
  services/api/scripts/create_work_pool.py
  services/api/scripts/retry_stuck_videos.py
Due: none

Added captionacc- prefix.
  data-pipelines/extract-crop-frames-and-infer-extents/src/extract_crop_frames_and_infer_extents/app.py
  data-pipelines/extract-full-frames-and-ocr/src/extract_full_frames_and_ocr/app.py
  services/api/app/flows/caption_ocr.py
  services/api/app/flows/crop_and_infer.py
  services/api/app/flows/video_initial_processing.py
Due: none

Consolidated supabase schemas. Updated setup script and related docs.
  docs-to-organize-and-revise/PLATFORM_ADMIN_SETUP.md
  docs/supabase/PLATFORM_ADMIN_SETUP.md
  docs/supabase/README.md
  supabase/migrations/20260106162623_multi_schema_setup.sql
  supabase/migrations/20260110100000_rename_prefect_schema.sql
  supabase/migrations/20260110200000_fresh_production_schema.sql
  supabase/migrations/20260111000000_video_database_state.sql
  supabase/migrations/20260115120000_add_display_path_column.sql
  supabase/migrations/20260115200000_auto_create_user_profiles.sql
  supabase/migrations/20260115210000_add_video_dimensions.sql
  supabase/migrations/20260115220000_remove_redundant_path_columns.md
  supabase/migrations/20260115220000_remove_redundant_path_columns.sql
  supabase/migrations/20260117_add_video_workflow_columns.sql
  supabase/migrations/20260120000000_rename_schema_to_prod.sql
  supabase/migrations/20260120000001_create_dev_schema.sql
  supabase/migrations/20260120000002_auth_trigger_multi_schema.sql
  supabase/migrations/20260121000000_captionacc_schema.sql
  supabase/scripts/setup_admin.sql
Due: none

Fix TypeScript errors and exclude scripts from lint
  apps/captionacc-web/app/components/RealtimeProvider.tsx
  apps/captionacc-web/app/components/S3Image.tsx
  apps/captionacc-web/app/components/S3Video.tsx
  apps/captionacc-web/app/components/videos/VideoTable.tsx
  apps/captionacc-web/app/hooks/useVideoOperations.ts
  apps/captionacc-web/app/services/crsqlite-client.ts
  apps/captionacc-web/app/services/database-subscriptions.ts
  apps/captionacc-web/app/services/s3-infrastructure-usage-examples.tsx
  apps/captionacc-web/app/utils/layout-api.ts
  apps/captionacc-web/app/utils/s3-image-url-helper.ts
  apps/captionacc-web/eslint.config.js
  apps/captionacc-web/tsconfig.json
Due: typescript-check, prettier, eslint

Path conditions:
  typescript-check: any of: ^apps/captionacc-web/.*\.(ts|tsx)$
  prettier: any of: ^apps/captionacc-web/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^apps/captionacc-web/.*\.(ts|tsx)$
  block-database-files: any of: \.(db|db-shm|db-wal|sqlite|sqlite3)$
  block-model-files: any of: \.(pt|pth|ckpt|safetensors|bin|h5|pkl|pickle)$
  block-video-files: any of: \.(mp4|avi|mov|mkv|wmv|flv|webm)$
